<div id="articles" class="pf-section-outer articles-outer">
  <div class="pf-section">
    <h2>Interesting Articles & Projects</h2>
    <div class="pf-section-content min-height articles-content" #content>
      <article *ngFor="let article of articles" class="article">
        <h3><a href="{{article.url}}"><i class="fa fa-link"></i>{{article.title}}</a></h3>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="{{article.url}}"><img class="img-responsive" src="{{article.imageUrl}}"></a>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <p>{{article.summary}}</p>
            <h5><a href="{{article.url}}" target="_blank"><i class="fa fa-link"></i><span>Continue reading</span></a></h5>
          </div>
        </div>
        <hr class="divider">
      </article>
    </div>
  </div>
</div>
