@import "../../assets/sass/helpers/variables"
@import "../../assets/sass/helpers/mixins"
@import "../../assets/sass/helpers/sectionals"

.main-segment
  padding-left: 150px
  padding-right: 150px
  padding-top: 25px
  width: 100%
  min-height: 100px
