<div class="container-fluid main-wrapper">

 <div class="row">
   <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
   <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 main-segment">
     <app-experience></app-experience>
   </div>
   <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
 </div>

  <div class="row">
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
    <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 main-segment">
      <app-featured [carouselId]="'featured-carousel-1'"></app-featured>
      <app-technologies></app-technologies>
      <app-articles></app-articles>
    </div><!-- End main content column -->

    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 main-segment">
      <app-aside></app-aside>
    </div><!-- End side content column -->
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
  </div>

</div>
