@import "variables"

.pf-header
  background: $portfolio-bg-light
  color: $portfolio-txt-bright-color

  .pf-header-top-box
    height: 115px

  .pf-header-profile
    text-align: center
    .profile-image
    .profile-name
    .profile-title
    .profile-bio
    .profile-socials
    .profile-contact-info

  .pf-header-navbar
    background: red