<div id="featured-projects" class="pf-section-outer">
  <div class="pf-section">
    <h2>Featured Projects</h2>
    <div class="pf-section-content min-height">
      <div class="featured-content">

        <h3 *ngIf="!current" class="featured-title">{{fallBack.title}}</h3>
        <h3 *ngIf="current" class="featured-title">
          <a *ngIf="current.projectUrl" href="{{current.projectUrl}}">
            <i class="fa fa-link"></i>
            <span [innerHtml]="current.title"></span>
          </a>
          <span *ngIf="!current.projectUrl" [innerHtml]="current.title"></span>
        </h3>

        <p *ngIf="!current" class="featured-sub-title">{{fallBack.subTitle}}</p>
        <p *ngIf="current" class="featured-sub-title">{{current.subTitle}}</p>

        <div class="featured-display">
          <img *ngIf="!current" class="featured-image" src="{{fallBack.imageUrl}}">

          <div [ngClass]="current ? '' : 'hidden'" class="featured-carousel-outer">
            <div class="carousel slide" id="{{carouselId}}">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li *ngFor="let project of projects; let index = index;"
                    class="{{index == 0 ? 'active' : ''}}"
                [attr.data-slide-to]="'' + index" [attr.data-target]="'#' + carouselId"></li>
              </ol>

              <!-- Carousel body -->
              <div class="carousel-inner">
                <div *ngFor="let project of projects; let index = index;"
                     class="item{{index == 0 ? ' active' : ''}}" id="slide-{{index}}">
                  <img src="{{project.imageUrl ? project.imageUrl : fallBack.imageUrl}}">
                </div>
              </div><!-- End carousel inner -->

              <!-- Carousel controls -->
              <a class="left carousel-control" data-slide="prev" href="#{{carouselId}}">
                <span class="icon-prev"></span>
              </a>

              <a class="right carousel-control" data-slide="next" href="#{{carouselId}}">
                <span class="icon-next"></span>
              </a>

            </div><!-- End carousel -->
          </div><!-- End carousel outer -->
        </div> <!-- End Featured Display -->

        <div class="featured-description">
          <p *ngIf="!current">{{fallBack.description}}</p>
          <p *ngIf="current">{{current.description}}</p>
        </div><!-- End description -->

      </div>
    </div>
  </div>
</div>
