<div class="navbar navbar-default pf-navbar hidden-xs" [ngClass]="shouldStick ? 'navbar-fixed-top' : ''">
  <div class="container">
    <div class="">
      <ul class="nav navbar-nav">
        <li class="" [ngClass]="currentHighLight == workNavItem.index ? 'active' : ''">
          <a href="{{workNavItem.sectionId}}" (click)="onNavButtonClicked($event, workNavItem.sectionId)">Work History</a>
        </li>
        <li class="" [ngClass]="currentHighLight == featuredNavItem.index ? 'active' : ''">
          <a href="{{featuredNavItem.sectionId}}" (click)="onNavButtonClicked($event, featuredNavItem.sectionId)">Featured Projects</a>
        </li>
        <li [ngClass]="currentHighLight == techSumNavItem.index ? 'active' : ''">
          <a href="{{techSumNavItem.sectionId}}" (click)="onNavButtonClicked($event, techSumNavItem.sectionId)">Frameworks</a>
        </li>
        <li [ngClass]="currentHighLight == articlesNavItem.index ? 'active' : ''">
          <a href="{{articlesNavItem.sectionId}}" (click)="onNavButtonClicked($event, articlesNavItem.sectionId)">Articles</a>
        </li>
        <li [ngClass]="currentHighLight == contactNavItem.index ? 'active' : ''">
          <a href="{{contactNavItem.sectionId}}" (click)="onNavButtonClicked($event, contactNavItem.sectionId)">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-default pf-space-nav">
  <div class="container">

  </div>
</div>

<div class="navbar navbar-default pf-space-nav-contional-filler hidden-xs" [ngClass]="shouldStick ? '' : 'hidden'">
  <div class="container">

  </div>
</div>


