<div class="navbar navbar-default pf-navbar hidden-xs" [ngClass]="shouldStick ? 'navbar-fixed-top' : ''">
  <div class="container">
    <div class="">
      <ul class="nav navbar-nav">
        <li class="" [ngClass]="currentHighLight == 0 ? 'active' : ''">
          <a href="#work-history" (click)="onNavButtonClicked($event, '#work-history')">Work History</a>
        </li>
        <li class="" [ngClass]="currentHighLight == 1 ? 'active' : ''">
          <a href="#featured-projects" (click)="onNavButtonClicked($event, '#featured-projects')">Featured Projects</a>
        </li>
        <li [ngClass]="currentHighLight == 2 ? 'active' : ''">
          <a href="#tech-my-summary" (click)="onNavButtonClicked($event, '#tech-my-summary')">My Tech Stack</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-default pf-space-nav">
  <div class="container">

  </div>
</div>

<div class="navbar navbar-default pf-space-nav-contional-filler hidden-xs" [ngClass]="shouldStick ? '' : 'hidden'">
  <div class="container">

  </div>
</div>


