<div class="container-fluid contact-wrapper">
  <div class="row">
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <div id="contact-me" class="pf-section-outer contact-outer">
        <div class="pf-section">
          <!--<h2>Contact me today</h2>-->
          <div class="pf-section-content min-height contact-content">
            <div class="row">

              <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <h2 class="contact-title">Contact me today</h2>
                <p class="contact-summary">{{contactSummary.message}}</p>
                <h4>Contact information</h4>
                <ul class="list-unstyled contact-info">
                  <li>
                    <a href="tel:{{contactSummary.phone}}">
                      <span class="glyphicon glyphicon-phone"></span>
                      {{contactSummary.phone}}
                    </a>
                  </li>
                  <li>
                    <a href="mailto:{{contactSummary.email}}">
                      <i class="fa fa-envelope"></i>
                      {{contactSummary.email}}
                    </a>
                  </li>
                </ul>
                <div class="pf-socials contact-socials">
                  <ul>
                    <li *ngIf="contactSummary.socials.linkedIn">
                      <a href="{{contactSummary.socials.linkedIn}}" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li *ngIf="contactSummary.socials.github">
                      <a href="{{contactSummary.socials.github}}" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li *ngIf="contactSummary.socials.twitter">
                      <a href="{{contactSummary.socials.twitter}}" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul> <!-- End social media -->
                </div>
              </div><!-- End contact info column -->
              <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 contact-form-outer">
                <form>
                  <div class="form-group">
                    <label class="control-label">Full Name</label>
                    <input class="form-control" type="text" name="fullname" placeholder="Your name">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="Your email address">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Subject</label>
                    <input class="form-control" type="text" name="subject" placeholder="Message subject">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Message</label>
                    <textarea class="form-control" placeholder="Enter your message here"></textarea>
                  </div>
                  <button class="btn btn-default" type="button">Send Message</button>
                </form>
              </div> <!-- End form column -->

            </div> <!-- End contact row -->
          </div> <!-- End contact content -->
        </div>
      </div> <!-- End contact outer -->
    </div> <!-- End contact column -->
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
  </div> <!-- End outer row -->
</div>
