<div *ngIf="experience !== null" class="exp-experience">
  <div class="exp-info row">
    <div class="exp-experience-desc col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>{{experience.company}}</h3>
      <h5>{{experience.title}}</h5>
    </div>
    <div class="exp-experience-dates col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>{{experience.city + ',' + experience.state}}</h3>
      <h5>{{experience.startMonth + ' ' + experience.startYear}}-
        {{experience.endMonth && experience.endYear ? experience.endMonth + ' ' + experience.endYear : 'Current'}}</h5>
    </div>
  </div>
  <div class="row exp-story">
    <div class="col-xs-12">
      <p>{{experience.story}}</p>
    </div>
  </div>
</div>
