<footer class="navbar navbar-default ft-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 ft-footer-fork">
        <h2>Actions</h2>
        <div>
          <a href="https://github.com/jregistr/personal-site.git" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <a href="https://github.com/jregistr/personal-site.git" target="_blank">
          <h4>
            <i class="fa fa-code-fork"></i>
            Fork this project on Github
          </h4>
        </a>
        <a href="#header-outer" scrollTo onclick="preventDefault()">
          <h4><span class="glyphicon glyphicon-circle-arrow-up"></span> Back to the top</h4>
        </a>
      </div>
      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 ft-footer-about">
        <h2>About</h2>
        <p>
          <b>Personal-Site</b> is created to be an easily re-useable template for a personal developer's web page. All
          the information presented on the page come from editable <i>JSON</i> &nbsp; files. The application and data are
          served by a
          <b><a href="https://www.playframework.com/" target="_blank">Scala Play</a></b>
          backend with an
          <b><a href="https://angular.io/"><i>Angular</i></a> front face.</b>
        </p>
      </div>
    </div>
    <div class="row ft-footer-cc">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <hr class="divider">
        <small>
          Distributed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">
            GNU v3.0
          </a> License
        </small>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</footer>
