@(config: (Option[String], (Option[String])))
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@config._1.getOrElse("My Website")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("ui/styles.bundle.css")"/>

        @if(config._2.isDefined) {
            <link rel="shortcut icon" type="image/png" href="@config._2.get">
        }

        <meta name="viewport" content="width=device-width, initial-scale=1">
        @*<base href="/">*@
        <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        <app-root style="width: 100%;
            padding: 0;
            margin: 0;"> Loading... </app-root>
        @* Built Angular bundles *@
        <script src="@routes.Assets.versioned("ui/inline.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("ui/polyfills.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("ui/scripts.bundle.js")"></script>
        <script src="@routes.Assets.versioned("ui/vendor.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("ui/main.bundle.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
    </body>
</html>
