<header id="header-outer">
  <div class="header-top-box container-fluid"></div>

  <div class="header-profile">
    <div class="container">
      <img *ngIf="profile != null" class="profile-image" src="{{profile.personal.imageUrl}}"/>
      <h1 *ngIf="profile != null" class="profile-name">{{profile.personal.name}}</h1>
      <h4 *ngIf="profile != null" class="profile-title">{{profile.personal.title}}</h4>
      <div *ngIf="profile != null" class="pf-socials profile-socials">
        <ul>
          <li *ngIf="profile.socials.linkedIn">
            <a href="https://www.linkedin.com/in/{{profile.socials.linkedIn}}" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li *ngIf="profile.socials.github">
            <a href="https://github.com/{{profile.socials.github}}" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li *ngIf="profile.socials.twitter">
            <a href="https://twitter.com/{{profile.socials.twitter}}" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="profile != null" class="profile-contact-info">
        <ul>
          <li>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:{{profile.contact.email}}">{{profile.contact.email}}</a>
          </li>
          <li>
            <i class="glyphicon glyphicon-phone" aria-hidden="true"></i>
            <a href="tel:{{profile.contact.phone}}">{{profile.contact.phone}}</a>
          </li>
          <li *ngIf="profile.personal.resumeUrl">
            <i class="fa fa-download" aria-hidden="true"></i>
            <a href="{{profile.personal.resumeUrl}}" target="_blank">Resume</a>
          </li>
        </ul>
      </div>
      <div class="profile-bio">
        <p *ngIf="profile != null">
          {{profile.messages.aboutMe}}
        </p>
      </div>
    </div>
  </div>
</header>
